*.a
*.bak
*.buildinfo
*.changes
*.deb
*.dsc
*.o
*.orig
*.out
*.tar.xz
*.zip
.*
*~
linux/debian/debhelper-build-stamp
linux/debian/files
linux/debian/new-unbrick-dkms.debhelper.log
linux/debian/new-unbrick-dkms.dkms.debhelper
linux/debian/new-unbrick-dkms.postinst.debhelper
linux/debian/new-unbrick-dkms.prerm.debhelper
linux/debian/new-unbrick-dkms.substvars
linux/debian/new-unbrick-dkms/
