*.a
*.bak
*.build
*.buildinfo
*.changes
*.deb
*.debhelper
*.dsc
*.log
*.o
*.orig
*.out
*.substvars
*.tar.xz
*.zip
.*
*~
linux/debian/debhelper-build-stamp
linux/debian/files
linux/debian/new-unbrick-dkms/
